#popup {
	width: 250px;
	height: 300px;
	position: fixed;
	bottom: -350px;
	right: 25px;
	z-index: 999;
	background-color: orange;
	border-radius: 3px;
	padding: 10px 10px 0px 10px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
#popup #pop-title {
	margin: 0px;
	text-align: center;
} 
#popup #pop-close {
	float: right;
    position: relative;
    top: -20px;
    cursor: pointer;
}
#body-content {
	width:77%;
}
#body-content #publish {
	float: right;
}